/* stylelint-disable selector-class-pattern */
.react-flow__node {
  border: none;
  padding: 0;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.react-flow .react-flow__connectionline {
  z-index: 0;
}

.react-flow__node.draggable {
  cursor: default;

  &.dragging .drag-handle_production {
    cursor: grabbing;
  }
}
